/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    /*list-style: none;*/
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}
/*         */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Calibre';
    font-weight: 400;
    src: url("Calibre - Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Calibre';
    font-weight: 500;
    src: url("Calibre - Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Calibre';
    font-weight: 600;
    src: url("Calibre - Semibold.otf") format("opentype");
}

body {
    font-family: 'Calibre', sans-serif;
    font-size: 3em;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, white, #96FDFF);
}

#bg {
    width: 100%;
    height: 100vh;
    transition: .5s;
}

a {
    transition: border-bottom .2s;
    color: black;
    border-bottom: 2px solid black;
}

a:hover {
    color: black;
    transition: border-bottom .2s;
    border-bottom: 2px solid white;
}

.bucket {
    padding: 2em 0 1em 0;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #FDFF3A, #96FDFF);
    /*min-height: 600px;*/
}

p {
    font-size: 1.5rem;
    max-width: 500px;
    line-height: 1.35em;
    padding-bottom: .7em;
}
/*
.sticky-wrapper {
    z-index: 2;
}

.is-sticky {
    z-index: 2;
}

#sticker {
    z-index: 2;
}*/

#frame {
    max-width: 100%;
    padding: 0 100px;
    z-index: 999;
}

li {
    font-size: 1.5rem;
    max-width: 500px;
    line-height: 1.35em;
}

h2 {
    padding-bottom: 60px;
    max-width: 500px;
    font-size: 60px;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

img,
video {
    max-width: 100%;
    /*margin-right: 5vw;*/
    
    padding: 0 100px;
    margin: 0 auto;
}

.left {
    display: inline-block;
    float: left;
    padding-left: 60px;
    width: 500px;
}

.left img {
    float: none;
    max-width: 100%;
    padding: .5em 0 0 0;
}

.right {
    /*display:inline-block;*/
    
    float: right;
    width: calc(100vw - 500px);
    max-width: 550px;
    /*padding-right: 60px;*/
}

.clear {
    clear: both;
    width: 100%;
}

#tagline {
    padding: 40vh 0 6em 0;
}

#tagline h2 {
    text-align: center;
    font-weight: 500;
}
/*MAP STYLES*/

@media screen and (max-width: 640px) {
    /*end*/
    
    .bucket {
        padding: 1em .5em .5em .5em;
    }
    .left {
        float: none;
        padding: 0;
        width: 100%;
        /*max-width: 500px;*/
    }
    h2 {
        padding: 50px 0 50px 0;
    }
    .right {
        float: none;
        padding: 0;
    }
    .bucket_img {
        width: 100%;
    }
    img,
    video {
        float: none;
        margin: 0 auto;
        padding: 0;
        border: 4px solid black;
    }
    #frame {
        display: none;
    }
}
